.wage-info-container {
	background-color: #fbf3dc;
	padding: 10px 20px;
	text-align: left;
	margin-top: 20px;

	.sum-info-container {
		padding: 5px 0;
		.sum-info-sum {
			font-weight: 500;
			margin-right: 7px;
		}
	}
}
