@import '../colors.scss';
.wage-input-container {
	width: 400px;

	.wage-input-label {
		display: block;
		color: $gray-text-color;
		width: 100%;
		text-align: left;
		font-size: 12px;
	}
	.wage-input-type {
		margin: 10px;
	}
	.wage-input-ndfl,
	.wage-input-value {
		margin-left: 38px;
	}
	.wage-input-value {
		width: 120px;
	}

	.wage-input-value-container {
		display: flex;
		align-items: baseline;
		.wage-input-value-descr {
			margin-left: 5px;
			font-weight: 500;
		}
	}
}
