.sum-input {
	background-color: transparent;
	border: 1px solid #cacaca;
	border-radius: 20px;
	outline: none;
	width: 100%;
	font-size: 1.1rem;
	padding: 6px 10px;
	font-weight: 500;
	display: block;
	:focus {
		border: 1px solid #cacaca;
		outline: none;
	}
}
